{% extends "base.html" %}{% block title %}Chatroom{% endblock %}
{% block content %}
<head>
    <script defer type="module" src="/static/chatroom.js"></script>
    <link rel="stylesheet" href="/static/chatroom.css">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/latest/dist/showdown.min.js"></script>
</head>
<div id="my-username" style="display: none;">{{ user.sbName }}</div>
<h1 class="text-light fw-bold">Chatroom</h1>
<div id="messages" class="text-light mb-3">{% for message in recent_messages %}<div class="message list-group-item" id="{{ message['id'] }}" style="display: none;"><span class="username">{{ message['username'] }}</span>{{ message['message'] | string }}{% if (message['mine'] and not message['deleted']) %}<button type="button" class="btn-close position-absolute end-0 me-2 delete-message" alt="Delete Note"></button>{% endif %}</div>{% endfor %}</div>
<script>
    var converter = new showdown.Converter();
    var messages = document.getElementsByClassName("message")
    for (var i = 0; i < messages.length; i++) {
        messages[i].innerHTML = converter.makeHtml(messages[i].innerHTML)
        messages[i].lastChild.style.display = 'inline';
    }
    document.querySelectorAll('.message').forEach(message => {
        message.style.display = "";
    });
    document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
</script>
<textarea class="form-control mb-3" id="messageinput" placeholder="Enter your message here..." maxlength=1024></textarea>
<button id="sendmessage" class="btn btn-primary">Send Message</button>
{% endblock %}