{% extends "base.html" %}{% block title %}Chatroom{% endblock %}
{% block content %}
<head>
    <script defer type="module" src="/static/chatroom.js"></script>
    <link rel="stylesheet" href="/static/chatroom.css">
    <script src="https://cdn.rawgit.com/showdownjs/showdown/latest/dist/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<div id="my-username" style="display: none;">{{ user.sbName }}</div>
<div id="show-deleted-messages" style="display: none;">{{ user.setting_deleted_messages }}</div>
<h1 class="text-light fw-bold">Chatroom</h1>
<div id="messages" class="text-light mb-3"><p id="no-more" style="display: none; margin-left: auto; margin-right: auto; color: #8a8a8a; padding-top: 0;"></p>{% for message in recent_messages %}{% if not (message['deleted'] == True and user.setting_deleted_messages == "hide") %}<div class="message list-group-item" id="{{ message['id'] }}" style="display: none;"><span class="username" style="display: inline;">{{ message['username'] }}</span><span class="date" style="display: inline;"> {{ message['datetime'] }}</span><br>{{ message['message'] | string }}{% if (message['mine'] and not message['deleted']) %}<button type="button" class="btn-close position-absolute end-0 me-2 delete-message" alt="Delete Note"></button>{% endif %}</div>{% endif %}{% endfor %}</div>
<script>
    var converter = new showdown.Converter();
    var messages = document.getElementsByClassName("message")
    for (var i = 0; i < messages.length; i++) {
        messages[i].innerHTML = converter.makeHtml(messages[i].innerHTML)
        messages[i].lastChild.style.display = 'inline';
    }
</script>
<textarea class="form-control mb-3" id="messageinput" placeholder="Enter your message here..." maxlength=1024></textarea>
<button id="sendmessage" class="btn btn-primary">Send Message</button>
{% endblock %}