{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<h1 class="text-light fw-bold">Dashboard</h1>
<div class="ms-3">
    <br>
    <h3 class="text-light">Today's Subjects:</h3>
    <div class="timetable-top">Homegroup<br>8:40am-8:55am</div><div class="timetable-top">Period 1<br>9:00am-10:10am</div><div class="timetable-top">Period 2<br>10:30am-11:40am</div><div class="timetable-top">Period 3<br>11:45am-12:55pm</div><div class="timetable-top">Period 4<br>1:50pm-3:05pm</div><br>
    {{ timetable|safe }}
</div>



{% endblock %}