{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<h1 class="text-light fw-bold">Dashboard</h1>
<div class="ms-3">
    <br>
    <h3 class="text-light">Today's Subjects:</h3>
    {% for tableitem, tableheader in timetable %}<div id="timetable-item-container"style="display: inline-grid;">{{ tableheader | safe }}{{ tableitem | safe }}</div>{% endfor %}
    <div id="upcomingduework" style="display: inline flow-root list-item;">
    {% for dueworkitem in duework %}{{ dueworkitem | safe }}{% endfor %}
    </div>
</div>



{% endblock %}