{% extends "base.html" %}{% block title %}Information{% endblock %}
{% block content %}
<h1 class="text-light">Information</h1>
<br>
<h4 class="text-light">Authentication System Information</h4>
<pre class="text-light fs-7">
    - This website uses the public Schoolbox API to authenticate and login a user.
    - No credentials are logged or stored, the users session is stored through a temporary cookie.
    - Loggining in through this website should not effect your login status on Schoolbox.
</pre>
<h4 class="text-light">Chatroom Information</h4>
<pre class="text-light fs-7">
    - The chatroom uses websockets to communicate live with the server.
    - All messages are logged, including message content and author.
    - Messages are logged for the purpose of viewable message history. You can view up to 100 previous messages.
    - The content of deleted messages is not logged or stored.
</pre>
<p class="fs-4 text-light">The source code to the project can be found <a class="fs-4" href="https://github.com/SleepyStew/DCCHWM/tree/master" target="_blank">here</a>.</p>
{% endblock %}