{% extends "base.html" %}{% block title %}Quick Notes{% endblock %}
{% block content %}

<head>
    <script defer type="text/javascript" src="/static/notes.js"></script>
    <link rel="stylesheet" href="/static/notes.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
    </script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/latest/dist/showdown.min.js"></script>
</head>

<h1 class="text-light fw-bold">Quick Notes</h1>
<ul class="list-group list-group-flush d-block" id="notes">
    {% for note in user.notes %}
    <p style="display: none;" id="note-plain-{{ note.id }}">{{ note.content }}</p>
    <li class="list-group-item rounded-2 my-2 text-break" id="note-{{ note.id }}">
        <script>
            var converter = new showdown.Converter();
            converter.setOption('simpleLineBreaks', true)
            document.getElementById('note-{{ note.id }}').innerHTML = "{{ note.content }}";
        </script>
        <button type="button" class="bg-transparent border-0 position-absolute end-0 me-4" onClick="editNote({{ note.id }}, '{{ csrf_token() }}')"><img alt="Edit Note" src="/static/icons/pencil.svg" class="me-2 icon edit-button"/></button>
        <button type="button" class="btn-close position-absolute end-0 me-2" alt="Delete Note" onClick="deleteNote({{ note.id }}, '{{ csrf_token() }}')"></button>
    </li>
    {% endfor %}
</ul>
<form method="POST" class="mt-2" action="/api/create-note">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <textarea name="note" class="form-control" id="note" placeholder="Enter your new note here..." maxlength=256></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary mt-3">Add Note</button>
    </div>
</form>
{% endblock %}
