{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<h1 class="text-light">Settings</h1>
<br>
<h4 class="text-light">Labels/Alerts</h4>
<div class="input-group">
    <select class="custom-select" id="inputGroupSelect04">
      <option selected>Choose...</option>
      <option value="1">Show alerts for every action.</option>
      <option value="2">Show minimal alerts, don't show an alert for every action.</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-primary text-light ms-2" id="setting-alerts" type="button">Button</button>
    </div>
  </div>
{% endblock %}