{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}

<h1 class="text-light">Settings</h1>
<br>
<h4 class="text-light">Labels/Alerts</h4>
<form method="POST" action="/api/update-setting">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="input-group">
    <input type="hidden" name="setting_type" value="alerts"></input>
    <select class="custom-select rounded p-2 mb-2" id="inputGroupSelect04" name="new_setting" onchange="this.form.submit()" style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">
      <option value="high" {% if user.setting_alerts == "high" %}selected{% endif %}>Show alerts for almost every action.</option>
      <option value="low" {% if user.setting_alerts == "low" %}selected{% endif %}>Only show important alerts, don't show an alert for every action.</option>
    </select>
  </div>
</form>
<h4 class="text-light">Chatroom Deleted Messages</h4>
<form method="POST" action="/api/update-setting">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="input-group">
    <input type="hidden" name="setting_type" value="deleted-messages"></input>
    <select class="custom-select rounded p-2" id="inputGroupSelect04" name="new_setting" onchange="this.form.submit()" style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;">
      <option value="show" {% if user.setting_deleted_messages == "show" %}selected{% endif %}>Show deleted messages.</option>
      <option value="hide" {% if user.setting_deleted_messages == "hide" %}selected{% endif %}>Hide deleted messages.</option>
    </select>
  </div>
</form>
{% endblock %}
