{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}

<h1 class="text-light">Settings</h1>
<br>
<h4 class="text-light">Labels/Alerts</h4>
<form method="POST" action="/api/update-setting">
  <div class="input-group">
    <p name="setting_type"><p value="alerts"></p></p>
    <select class="custom-select rounded" id="inputGroupSelect04" name="new_setting">
      <option value="high" {% if user.setting_alerts == "high" %}selected{% endif %}>Show alerts for every action.</option>
      <option value="low" {% if user.setting_alerts == "low" %}selected{% endif %}>Show minimal alerts, don't show an alert for every action.</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-primary text-light ms-2" id="setting-alerts" type="submit">Save</button>
    </div>
  </div>
</form>
{% endblock %}