.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #23272A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 16px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  .alerts {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    right: 0;
    background-color: #23272A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 16px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #505ef5;
    border-radius: 5px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  #alerts-btn {
    transition: margin-right .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .icon {
    position: relative;
    top: -2px;
  }

.gradient-0 {
  color: var(--bs-red);
}
.gradient-1 {
  color: var(--bs-red);
}
.gradient-2 {
  color: var(--bs-orange);
}
.gradient-3 {
  color: var(--bs-yellow);
}
.gradient-4 {
  color: var(--bs-yellow);
}
.gradient-5 {
  color: var(--bs-yellow);
}
.gradient-6 {
  color: var(--bs-yellow);
}
.gradient-7 {
  color: var(--bs-teal);
}
.gradient-8 {
  color: var(--bs-teal);
}
.gradient-9 {
  color: var(--bs-green);
}
.gradient-10 {
  color: var(--bs-green);
}