.message {
    background: white;
    color: black;
    width: fit-content;
    border-radius: 10px 10px 10px 0 !important;
    padding: 6px 8px;
    margin-bottom: 10px;
    max-width: 50%;
    overflow-wrap: break-word;
}
#messages {
    background: #23272a;
    border-radius: 10px 10px 0 0;
    padding: 15px 15px 5px 15px;
    margin: 0 !important;
    overflow-y: scroll;
    max-height: 480px;
}
#sendmessage {
    display: none;
}
@media only screen and (max-width: 600px) {
    #sendmessage {
        display: unset !important;
    }
}
span.username {
    font-weight: bold;
    display: block;
}
.delete-message {
    display: none;
}
.message:hover .delete-message {
    display: inline; 
}
#messageinput {
    border-radius: 0 0 10px 10px;
}
.message.mine {
    background-color: #83fc83;
    margin-left: auto;
    border-radius: 10px 10px 0 10px !important;
}
